.topleftcorner {
    position: relative;
    top: 1em;
    left: -22.5em;
}

.savebutton {
    position: relative;
    left: 1em;
    top: 40em;
}

.formatbtn {
    position: relative;
    left: 1em;
    top: 40em;
}

.returnbtn {
    position: relative;
    left: 1em;
    top: 40em;
}

// .cadre {
//     height: 90vh;
//     width: 90vw;
//     position: fixed;
//     bottom: 20vh;
//     left: 15vw
// }
img {
    display: block;
    max-width: 100%;
}