.topleftcorner {
    position: relative;
    top: 1em;
    left: -22.5em;
}

.savebutton {
    position: relative;
    left: 1em;
    top: 40em;
}

.formatbtn {
    position: relative;
    left: 1em;
    top: 40em;
}