h1 {
    text-align: center; 
}

.material-icons {
    color: rgb(55, 0, 255);
    display: flex;
}

button {
    margin-bottom:1% ;
    border-radius: 10px;
    text-align: center;  
    width: 50.00%;
}
.return{
    line-height: 3.5;
    width: 20.00%;
    border-radius: 90px;
}

img{
    margin: 0;
}