/* bouton retour */



#save,#share{

    padding: 0em
}

main{

    margin-top: 2em;
}


.retour{
left: -23px;
  }

 
.checkboite{
   padding: 0%;
   margin-top: 5em;
   color: whitesmoke;
}

.btnsaving{
  text-transform: none !important;
  font-size: 1rem;
  border-radius: 10px;
  margin-bottom:1rem ;
  color: black !important;
}

.pdfpdf{
  margin-top: 2rem;
  background-image:url("./../assets/img/pdfpdf.png") ;
  background-size: 1.5rem;
  background-position: 1.5rem;
  background-repeat: no-repeat;
}

.word{
  background-image:url("./../assets/img/word.png") ;
  background-size: 1.5rem;
  background-position: 1.5rem;
  background-repeat: no-repeat;
}


// .faceb{
//   background-image:url("./../assets/img/facebook.png") ;
//   background-size: 1.5rem;
//   background-position: 1.5rem;
//   background-repeat: no-repeat;
// }
// .instag{
//   background-image:url("./../assets/img/instagram.png") ;
//   background-size: 1.5rem;
//   background-position: 1.5rem;
//   background-repeat: no-repeat;
// }

