<header>
    <nav>
        <div class="nav-wrapper greenproject ">
            <a href="#" class="center black-text"> Save My Scan <span class="material-icons share">save</span></a>
        </div>
    </nav>
</header>
<main>

    <form action="#" class=checkboite>
        <p>
            <label>
                  <input type="checkbox" class="shareBox" />
                  <span>Share</span>
              </label>
        </p>
        <p>
            <label>
                  <input type="checkbox" class="saveBox" />
                  <span>Save to My Files</span>
              </label>
        </p>
    </form>

    <form action="" class="containerSave" method="GET">
        <p>Choose saving format</p>


        <div class="row">
            <div type="submit" class="waves-effect waves-light btn col s4 offset-s4 btnformat btnsaving pdfpdf">PDF</div>
            <div type="submit" class="waves-effect waves-light btn col s4 offset-s4 btnformat btnsaving word">Word Document</div>
            <div type="submit" class="waves-effect waves-light btn col s4 offset-s4 btnformat btnsaving opendoc">Open Document</div>
            <div type="submit" class="waves-effect waves-light btn col s4 offset-s4 btnformat btnsaving blocnote">BlocNote</div>
        </div>

    </form>

    <div class="fixed-action-btn retour returnbut">
        <a class="btn-floating btn-large greenproject">
            <i class="large material-icons">keyboard_return</i>
        </a>
    </div>

</main>

<footer>

</footer>