<header>
    <nav>
      <div class="nav-wrapper greenproject ">
        <a href="#" class="center black-text"> Save My Scan <span class="material-icons share">save</span></a>
      </div>
    </nav>
  </header>
  <main>
      
      <form action="#" class=checkboite>
          <p>
              <label>
                  <input type="checkbox" class="shareBox" />
                  <span>Share</span>
              </label>
          </p>
          <p>
              <label>
                  <input type="checkbox" class="saveBox" />
                  <span>Save to My Files</span>
              </label>
          </p>
      </form>

      <form action="" class="containerSave">
          <p>Choose saving format</p>

          <div class="row">
            <div type="submit" class="waves-effect waves-light btn col s4 offset-s4 btnsaving pdfpdf">PDF</div>
            <div type="submit"class="waves-effect waves-light btn col s4 offset-s4 btnsaving word">Word Document</div>
            <div type="submit"class="waves-effect waves-light btn col s4 offset-s4 btnsaving faceb">Open Document</div>
            <div type="submit"class="waves-effect waves-light btn col s4 offset-s4 btnsaving instag">BlocNote</div>
          </div>


          
      </form>
      
      <!-- <div class="fixed-action-btn retour returnbut btnsaving">
          <a class="btn-floating btn-large greenproject ">
              <i class="large material-icons">keyboard_return</i>
          </a>
      </div> -->
      
  </main>

  <footer class="page-footer footergreen">
    <div class="footer-copyright">
      <div class="container">
        <a class="btn-floating btn-large waves-effect waves-light greenproject offset-s6 return "><i
            class="material-icons">keyboard_return</i></a>
      </div>
    </div>
  </footer>