
.wholebody{

    height: 100vw;
}
// .btrond{
//     background-color: #4CAF50; /* Green */
//     border: none;
//     color: rgb(24, 22, 22);
//     padding: 7vw;
//     text-align: center;
//     cursor: pointer;
//     display:inline-block;
//     border-radius: 50%;
//     position:fixed;
//     bottom: 7vh;
//     left:40vw;
//     }

header{
    background-color: #26a69a ;
    display: inline-block;
    width: 100%;
    padding-top: 0px;
    }

 h1{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .3em;
    margin-right: .3em;
    }

.btn{
    color: #212121;
}