
    <!-- <div class="monscan cadre offset-s6">
      <p></p>
    </div>
  </main> -->
  <main class="container">
    <div class="monscan cadre offset-s6">
      <img class="myScan" src="./../../assets/img/scanPreview.png">
  </div>
   
    
  <div action="" class="editSaveContainer">
    <div class="row saveEditGap">
        <div class="btn-floating btn-large waves-effect waves-light greenproject  offset-s12 saveBut "><i
            class="material-icons">save</i> Save </div>
    </div>
    <div class="row">
        <div class="btn-floating btn-large waves-effect waves-light greenproject offset-s12 editBut "><i
            class="material-icons">edit</i> Save</div>
    </div>
    
    </div>
    
    
  </main>

  <footer class="page-footer footergreen">
    <div class="footer-copyright">
      <div class="container">
        <a class="btn-floating btn-large waves-effect waves-light greenproject offset-s6 return "><i
            class="material-icons">keyboard_return</i></a>
      </div>
    </div>
  </footer>