/*@import '~materialize-css/dist/css/materialize.css';*/


/*@import '~materialize-css/dist/css/materialize.min.css';*/

@import '~materialize-css';
@import '~material-design-icons/iconfont/material-icons.css';
@import 'shared/global.scss';
@import 'shared/theme.scss';
@import 'takePicture/take-picture.component.scss';
@import 'shared/normalizer.scss';
@import 'save/save.component.scss';
@import 'preview/preview.component.scss';
@import 'edit/edit.component.scss';
@import 'sending/sending.component.scss';


body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.bienvenue {
    font-size: 3rem;
    margin-bottom: 5rem;
}