/*@import '~materialize-css/dist/css/materialize.css';*/


/*@import '~materialize-css/dist/css/materialize.min.css';*/

@import '~materialize-css';
@import '~material-design-icons/iconfont/material-icons.css';
@import 'shared/global.scss';
@import 'shared/theme.scss';
@import 'sending/sending.scss';
@import 'ecranPicture/ecranPicture.scss';
@import 'shared/normalizer.scss';
@import 'save/save.scss';
@import 'preview/preview.scss';
@import 'barreOption/barreOption.scss';
body {

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.bienvenue {
    font-size: 3rem;
    margin-bottom: 5rem;
}