<header></header>

    <main class="container">
      <div class="monscan cadre offset-s6">
        <video id="video"></video>
        <!-- <img id="impressionEcran"> -->

    </div>
      </main>
      
      <footer class="page-footer greenproject footerWithoutGreen">
        <div class="footer-copyright">
          <div class="container">
            <a class="btn-floating btn-large waves-effect waves-light greenproject clic offset-s6 startbutton" id="Save"></a>
          </div>
        </div>
      </footer>