.cadre{
    height: 80vh;
    width: 90vw;
    border: 3px solid #00766c;
    border-radius: 10px;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 12vh;
    left:5vw
}
#video{
width: 100%;

}

.clic{
    border: black solid 6px !important;
}

.footergreen{
padding:0 !important;
}


