button {
    display: inline-block;
    height: 50px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 50px;
}

.bouton_developper img {
    display: block;
    height: 50;
    width: 50;
    background-position: center;
}